body{
  padding-top: 70px;
}
h4{
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: bold;
  color: #343a3d;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2f8bea;;
  margin: 0.1em 0;
  padding: 0;
}

#services{
  padding-bottom: 60px;
}
#services h4{
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: bold;
  color: #343a3d;
  padding-top: 40px;
  padding-bottom:20px;
}
.services-caption{
  color:#7e868a;
  font-family:"Roboto";
  font-size:14px;
  font-weight: normal;
  padding-top:30px;
}

#careers{
  padding-top: 60px;
  padding-left:10%;
  padding-right:10%;
}
.career{
  padding-top:50px;
}
.career> h4{
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: bold;
  color: #343a3d;
  padding-top:15px;
}
.career> button{
  background-color: #0f75de;
  border-radius:7px;
  border:0px;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica;
  font-weight: bold;
  font-size:12px;
}

#caseStudy{
  padding-top: 50px;
  padding-bottom:70px;
}
#caseStudy a{
  font-family:"Helvetica Neue",Helvetica;
  font-weight: bold;
  font-size: 12px;
}
#caseStudy a:hover{
  text-decoration:none;
}
#caseStudy a>span.fa.fa-arrow-right{
  transform: scale(1.5,1);
  font-size:13px;
  font-weight: normal;
  width:10px;
  padding-left:20px;
  color:#b3b9c9;
}
#caseStudy a>span.fa.fa-arrow-right:hover{
  color:#1063b9;
}
.case-heading{
  font-family:"PT Serif";
  font-size:38px;
  color: #343a3d;
  text-align:center;
  padding-bottom:30px;
}
.caseStudy-caption{
  color:#7e868a;
  font-family:"Roboto";
  font-size:14px;
  font-weight: normal;
  padding-bottom:20px;
  padding-top:5px;
}
.caseStudy-date{
  color:#7e868a;
  font-family:"Helvetica Neue",Helvetica;
  font-size:14px;
  font-weight: bold;
  padding-bottom:10px;
}

#about{
  padding-bottom:60px;
}
#about h4{
  font-family:"PT Serif";
  font-size:35px;
  font-weight: bold;
  padding-top:60px;
}

#contact{
  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;
}
#contact .map{
  padding-top:15%;
  padding-left:35%;
  font-size:18px;
  font-family:"PT Serif";
}
#contact .map .fa,
#contact .map .glyphicon {
  color:#0f75de;
  padding-right:5px;
  font-size:25px;
}
#contact .map .site-detail{
  color:#8d9295;
}
#contact .map .site-loc{
  font-weight:bold;
}
.media{
  padding-top:15px;
}

.navbar-inverse{
  background-color: #fff;
  border-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #343a3d;
  font-family: "Helvetica Neue",Helvetica;
  font-size: 14px;
  font-weight: bold;
  margin-left: 35px;
  display:block;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active>a,
.navbar-inverse .navbar-nav > li > a:focus{
  border-bottom:5px solid  #343a3d;
  background-color: transparent;
  padding-bottom:0px;
  color:#343a3d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active>a,
.navbar-inverse .navbar-nav > li > a:focus{
  color:#696969;
  transition: 0.3s  ease-out;
}

.navbar-brand>img {
  height: 30px;
  width: 100px;
}

.intro-header {
  background: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-family: "PT Serif";
}
.intro-header .site-heading,
.intro-header .site-heading2{
  padding: 100px 0 50px;
  color: white;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading h1 {
  margin-top: 0;
  font-size: 40px;
}
.intro-header .site-heading2 h1 {
  margin-top: 0;
  font-size: 29px;
  font-weight: bold;
  padding-left:15%;
  padding-right: 15%;
  padding-bottom:20px;
}
.intro-header .site-heading .subheading {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  font-family: 'Roboto';
  font-weight: normal;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1{
    font-size: 44px;
    color:#fff;
    font-weight: normal;
  }
  .intro-header .site-heading2 h1{
    font-size: 27px;
  }
}

.panel-footer{
  background-color:#0f75de;
  border:0px;
  color:#fff;
  font-family:"Helvetica Neue",Helvetica;
  padding-top:20px;
  height:auto;
}
.panel-footer .row{
padding-bottom: 15px;
}
.footer-logo li{
  display:inline;
}
.footer-logo li>a>i{
  padding-left: 20px;
  color:#fff;
  font-size:20px;
  text-align:right;
}
.footer-logo li>a>i:hover{
  color:#afd7ef;
}
.loc{
  font-size:14px;
}
.copyright{
  text-align: center;
  font-size: 12px;
  padding-top:20px;
}

.img-responsive{
  width:100%;
}
